<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Auto Routine Generator</title>
<style>
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 45px;
  color: white;
}
</style>
</head>
<body>
	<div align="center">
	<header>Auto Routine Generator</header>
		<br><br><br>
		<table>

			<tbody>
				<tr>
					<td><h2><a th:href="@{'/addRoutine/'}">Add Routine </a></h2>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<h2><a th:href="@{'/generateRoutine/'}">Generate
							Routine</a></h2></td>
				</tr>
			</tbody>
		</table>
</body>
</html>